doctype html 
html 
    head 
        title hors service 
    body 
        div
            h1 Ouups !!
            h2 ce site n'est pas disponiple maintenant
            h2 nous fonctionne de lundi à vendredi de 9h à 17h    