<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/navbar.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://media.bitdegree.org/storage/media/images/2018/12/node-js-interview-questions-logo-2-266x300.png">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Express</title>
</head>
<body>
        <input type="checkbox" id="active">
        <label for="active" class="menu-btn"><span></span></label>
        <label for="active" class="close"></label>
        <div class="wrapper">
        <ul>
    <li><a href='/Acceuil'>Home</a></li>
    <li><a href='/Contact'>Contact</a></li>
    <li><a href='/Service'>Services</a></li>
    >
    </ul>
    </div>
    <div class="content">
        <div class="title" >Services</div>
    
    </div>
</body>
</html>